body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  font-size: 100%;
  padding-top: 0rem;
  margin: 0 auto;
  width: auto;
  background-image: url(./image/bg.jpg);
}

.header_ul {
  justify-content: flex-end;
  display: flex;

  height: 3rem;
  width: 100%;

}

.header_ul li {

  padding: 1rem;
  margin-right: 3%;
  list-style-type: none;
  font-family: 'Courier New', Courier, monospace;

}

.header_ul li a {
  color: rgb(126, 206, 252);
  text-decoration: none;
  font-weight: 600;
  font-size: larger;
}

#logo {
  margin-left: 1rem;

  width: 4rem;
  height: 4rem;
  color: aliceblue;

}

header {
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  background-color: black;
  border-radius: 0px 0px 40px 40px;
}

.form_landing {
  color: black;
  background-color: black;
  height: 25rem;
  width: 20rem;
  border-radius: 30px;
  float: right;
  margin-right: 10%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;

}


.name_input {
  padding-left: 6px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  height: 2rem;
  width: 79%;
  border-radius: 160px;
  background: linear-gradient(45deg, #d3e0e2, rgb(126, 206, 252));
  font-size: large;
  font-weight: 500
}

.phone_input {
  padding-left: 6px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  height: 2rem;
  width: 79%;
  border-radius: 160px;
  background: linear-gradient(45deg, #d3e0e2, rgb(126, 206, 252));
  font-size: large;
  font-weight: 500
}

#submit_button {
  /* margin-left: auto;
  margin-right: auto;
  margin-top: 9rem; */
  margin: auto;
  height: 2rem;
  width: 80%;
  border-radius: 20px;
  background: linear-gradient(45deg, #d3e0e2, rgb(126, 206, 252));
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
}

.form_landing div {
  color: rgb(126, 206, 252);
  font-size: 200%;
  margin: auto;
  font-family: 'Courier New', Courier, monospace;
}

.footer {
  margin-top: 60rem;
  height: 4rem;
  background: linear-gradient(60deg, #d3e0e2, rgb(126, 206, 252));;
  position: relative;
  bottom: 0;
  left: 0;
  width: auto;
}

.footer hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0em;
  margin-block-end: 0em;
  overflow: hidden;
  border-style: groove;
  border-width: 1px;
}

.footer p {
  margin-left: 10%;
}

#container {
  display: flex;
  flex-direction: row;
}

#description {

  font-size:125%;
  color: #d3e0e2;
  font-family: 'Courier New', Courier, monospace;
  width: 50%;
  display: flex;
  flex-direction: column;
  float: left;
  position: relative;
  margin-left: 10%;
  margin-top: 5rem;
}